body {
    padding-top: 2.4rem;
    width: 100%;
    background-image: url(../img/img-bg/50n.jpg) ;
}
.city {
    font-size: 2rem;
}
.date {
    font-size: 1rem;
}
.container-temp {
    font-size: 5.3rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none
}
.weather {
    font-size: 2rem;
}
.low-high {
    font-size: 1.2rem;
}
.alert {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.card-header {
    font-weight: bold;
}
.card{
    background-color: #DCE0D9;
}
