body {
    padding-top: 2.4rem;
    width: 100%;
}

.city {
    font-size: 2rem;
}

.date {
    font-size: 1rem;
}

.container-temp{
    font-size: 5.3rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none
}
.weather{
    font-size: 2rem;
}
.low-high{
    font-size: 1.2rem;
}